* {padding: 0; margin: 0; box-sizing: border-box;}
html, body {height: 100%; width: 100%;}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #dddad1;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar-track {
  background: #efeff1;
}
.container {
    position: relative;
    height: 80%;
    min-width: 1500px;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 420px auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas:
                    "aside header "
                    "aside main"
                    "aside footer";
}
/* header */
.start {
    position: absolute;
    left: 420px;
    right: 0;
    top: 0;
    bottom: -2px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start.hidden{
    display:none;
}
header.active,
main.active,
footer.active {
    display: flex;
}
header {
    padding: 10px;
    grid-area: header;
    background-color: #eaeaea;
    display: none;
    align-items: center;
}
header img,
aside img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
header .contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
header .contact span:nth-of-type(2) {
    display: none;
}
header .contact span:nth-of-type(1),
aside .notice .text span:nth-of-type(1),
aside .chat .contact .text .name span:nth-of-type(1) {
    font-weight: bold;
}
header .contact span:nth-of-type(2),
aside .notice .text span:nth-of-type(2),
aside .chat .contact .text .name span:nth-of-type(2),
aside .chat .contact .text .message {
    color: #808689;
}
header ul {
    display: flex;
}
header ul li,
aside .top ul li,
footer i {
    font-size: 22px;
    color: #abada7;
    padding: 0 8px;
}

/* aside */
aside {
    border-right: 1px solid #d6d6d6;
    height: 1030px;
    grid-area: aside;
    display: flex;
    flex-direction: column;
}
aside .top {
    padding: 10px;
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
aside .top ul {
    display: flex;
}
aside .notice {
    padding: 10px;
    height: 70px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}
aside .notice .text {
    margin-left: 15px;
}
aside .notice .icon {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    color: #8edafc;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside .searchbar {
    padding: 10px;
    height: 50px;
    background-color: #f9f9f7;
    display: flex;
    align-items: center;
}
aside .searchbar .search {
    height: 30px;
    width: 30px;
    color: #abada7;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside .searchbar input {
    height: 30px;
    width: 100%;
    border: none;
}
aside .searchbar input:focus {
    outline: none;
}
aside .chat {
    background-color: #fff;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
aside .chat .contact {
    cursor: pointer;
    height: 80px;
    padding: 10px;
    border-bottom: 1px solid #e9ebea;
    background-color: #fff;
    display: flex;
    /* order: 1; */
}
aside .chat .contact.active{
    background-color: #d6d6d6;
    /* order: 0; */
}
aside .chat .contact .text {
    padding: 5px;
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside .chat .contact .text .name {
    display: flex;
    justify-content: space-between;
}
aside .chat .contact .text .message{
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* main */
main {
    height: auto;
    padding: 50px;
    grid-area: main;
    background-color: #e5ddd5;
    position: relative;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    background: url('image/mine.jpg');
}
/* main::before {
    background: url('https://web.whatsapp.com/img/bg-chat-tile-light_9e8a2898faedb7db9bf5638405cf81ae.png');
    background-attachment: fixed;
    opacity: 0.1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
} */
main .main-chat {
    display: none;
}
main .main-chat.active{
    display: block;
}
main .template .in .text,
main .template .out .text {
    margin-bottom: 10px;
}
main .in .text p {
    max-width: 400px;
    word-wrap: break-word;
    display: inline-block;
    padding: 10px 15px 0;
    background-color: #fff;
    border-radius: 10px;
}
main .in .text p::after,
main .out .text p::after {
    content: attr(data-descr);
    display: block;
    font-size: 10px;
    text-align: right;
    color: #808689;
}
main .out {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
main .out .text p {
    word-wrap: break-word;
    max-width: 400px;
    display: inline-block;
    padding: 10px 15px 0;
    background-color: #d5f9bb;
    border-radius: 10px;
}
main .template {
    display:none;
}

/* footer */
footer {
    grid-area: footer;
    background-color: #f3eeea;
    display: none;
    align-items: center;
}
footer>div{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer input {
    border-radius: 50px;
    padding: 20px;
    flex: 1;
    height: 45px;
    border: none;
}
footer input:focus{
    outline: none;
}
footer .speak {
    cursor: pointer;
}
footer i:nth-of-type(2){
    display: none;
}
